<div class="game_done">
    <h3> Well done! </h3>
    <img style="height: 500px;  " src="/dolphin.jpeg"/>
    <div class="done_button">
        <form method="get" action="/students">
            <button class="next" type="submit">Back to students </button>
        </form>
    </div>
</div>