* {
	margin: 0;
	padding: 0;
}

body {
	background-color: white;
}

h3{
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3%;
	color: rgb(76, 137, 251);
	font-size: 40px;
	padding: 30px;
}
/* Header  */
header{
	height: 50px;
	width: 100%;
	background-color: rgb(76, 137, 251);
	display: flex;
	padding-top: 20px;
}

.header_left{
	margin-left: 20px;
	width: 80%;
}

header h1{
	font-size: 30px;
	color:white;
}

.header_right{
	position: absolute;
	right: 0;
	width: 300px;
	height: fit-content;
	display: flex;
	text-align: center;
}

header h2{
	text-align: center;
	height: fit-content;
	width: 100px;
	background-color:white;
	font-size: 20px;
	padding: 7px;
	color:rgb(76, 137, 251);
}

header a{
	position: absolute;
	height: 10%;
	width: fit-content;
	font-size: 20px;
	color:white;
	text-decoration: none;
	right: 20px;
	padding: 7px;
}

header img{
	width: 15px;
	height: 15px;
	padding: 7px;
}

/* Index */
.display_class_name{
	display: flex;
	width: 1300px;
	margin-left: auto;
	margin-right: auto;
	padding: 40px;
	border-bottom:solid;
	border-bottom-width: thin;
	border-color: rgb(209, 209, 209);
}

.display_class_name h1{
	margin-top: 20px;
	margin-left: 60px;
	color: rgb(176, 195, 231);
	font-size: 3vw;
}

.inner{
	margin-left: auto; 
	margin-right: 60px;
}

.display_class_name button{
	margin-top: 20px;
	font-size: 25px;
	background-color: rgb(76, 137, 251);
	color:white;
	border: none;
	border-radius: 5px 5px 5px;
	cursor: pointer;
	padding: 10px;
	width: 200px;
}

.show_class{
	display: flex;
	flex-wrap: wrap;
	width: 1300px;
	margin-left: auto;
	margin-right: auto;
}

.display_student {
	text-align: center;
	margin: 2em;
	font-size: 20px;
	background-color: rgb(176, 195, 231);
	padding: 1em;
}

.display_student img{
	height: 350px;
	width: 200px;
	object-fit: scale-down;
	display: block;
}

.display_student h1{
	color: whitesmoke;
	font-size: 15px;
	font-weight: light;
}

/* Quiz */
.quiz_names{
	height: 70%;
	width:max-content;
	display: flex;
	margin-left: auto;
	margin-right: auto;
}

.quiz_names img{
	position: relative;
}

.quiz_names form{
	padding-top: 15px;
	cursor: pointer;
}

.quiz_image h1{
	margin-top: 15%;
	margin-left: auto;
	margin-right: auto;
	width: fit-content;
	font-size: 17px;
	color: rgb(76, 137, 251);
}

.quiz_buttons{
	display: block;
	margin-left: 40px;
}

.alternative_buttons{
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	height: 420px;
}

.alternative_buttons form{
	padding-top: 0;
}

.quiz_names form .before_guess_button{
	font-size: 25px;
	background-color: rgb(76, 137, 251);
	color:white;
	border: none;
	border-radius: 5px 5px 5px;
	cursor: pointer;
	padding: 15px;
	width: 250px;
	text-align: left;
}

.quiz_names form .after_guess_button{
	font-size: 25px;
	background-color: rgb(241, 241, 241);
	color:rgb(76, 137, 251);
	border: solid;
	border-radius: 5px 5px 5px;
	padding: 15px;
	width: 250px;
	text-align: left;
}

.quiz_names form .correct_button{
	font-size: 25px;
	background-color: rgb(111, 200, 102);
	color:white;
	border: none;
	border-radius: 5px 5px 5px;
	padding: 15px;
	width: 250px;
	text-align: left;
}

.quiz_names form .wrong_button{
	font-size: 25px;
	background-color: rgb(207, 73, 73);
	color:white;
	border: none;
	border-radius: 5px 5px 5px;
	padding: 15px;
	width: 250px;
	text-align: left;
}

.quiz_names form .next{
	margin-top: 10%;
	margin-left: auto;
	margin-right: auto;
	font-size: 25px;
	background-color: rgb(76, 137, 251);
	color:white;
	border: none;
	border-radius: 5px 5px 5px;
	cursor: pointer;
	padding: 10px;
	width: 250px;
}

.display_guess_result{
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
}

.correct_text{
	color: rgb(111, 200, 102);
	font-size: 5vh;
	cursor: none;
}

.wrong_text{
	color: rgb(207, 73, 73);
	font-size: 5vh;
	cursor: none;
}

.guess_text{
	color: rgb(207, 73, 73);
	font-size: 3vh;
	cursor: none;
}

.done_button button{
	font-size: 25px;
	background-color: rgb(76, 137, 251);
	color:white;
	border: none;
	border-radius: 5px 5px 5px;
	cursor: pointer;
	padding: 10px;
	width: 250px;
}

.game_done{
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
}

.done_button{
	width: max-content;
	margin-top: 20px;
	margin-left: auto;
	margin-right: 0;
}

@media only screen and (min-width: 1500px) {

	header{
		margin-bottom: 2%;
	}
	h3{
		margin-top: 8%;
	}

}
