* {
	margin: 0;
	padding: 0;
}

body {
	background-color: white;
}

/* Header  */
header{
	height: 50px;
	width: 100%;
	background-color: rgb(76, 137, 251);
	display: flex;
	padding: 30px;
}

.header_left{
	width: 70%;
}

header h1{
	font-size: 4vh;
	color:white;
}

.header_right{
	width: 30%;
	display: flex;
}

header h2{
	height: 30px;
	width: 100px;
	background-color:white;
	padding: 5px;
	font-size: 3vh;
	color:rgb(76, 137, 251);
}
header a{
	height: 10%;
	font-size: 2.5vh;
	color:white;
	text-decoration: none;
}

header img{
	width: 15px;
	height: 15px;
}

/* Index */
.outer{
	margin-top: 7%;
	display: flex;
	flex-wrap: wrap;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

.inner {
	text-align: center;
	margin: 3em;
	font-size: 20px;
	background-color: rgb(176, 195, 231);
	padding: 1em;
}

.inner img{
	max-height: 400px;
	display: block;
	margin-bottom: 1em;
	
}

/* Quiz */
.quiz_names{
	position: absolute;
	top: 22.5%;
	left: 15%;
	height: 70%;
	width: 80%;
}

.quiz_names img{
	position: relative;
}

.quiz_names form{
	position: relative;
	margin-left: 40%;
	top: -60vh;
	padding-top: 15px;
	cursor: pointer;
}

.quiz_names form .before_guess_button{
	font-size: 3vh;
	background-color: rgb(76, 137, 251);
	color:white;
	border: none;
	border-radius: 5px 5px 5px;
	cursor: pointer;
	padding: 10px;
	width: 30%;
}

.quiz_names form .after_guess_button{
	font-size: 3vh;
	background-color: rgb(241, 241, 241);
	color:rgb(76, 137, 251);
	border: solid;
	border-radius: 5px 5px 5px;
	padding: 10px;
	width: 30%;
}

.quiz_names form .correct_button{
	font-size: 3vh;
	background-color: rgb(111, 200, 102);
	color:white;
	border: none;
	border-radius: 5px 5px 5px;
	padding: 10px;
	width: 30%;
}

.quiz_names form .wrong_button{
	font-size: 3vh;
	background-color: rgb(207, 73, 73);
	color:white;
	border: none;
	border-radius: 5px 5px 5px;
	padding: 10px;
	width: 30%;
}

.quiz_names form .next{
	margin-top: 5%;
	font-size: 3vh;
	background-color: rgb(76, 137, 251);
	color:white;
	border: none;
	border-radius: 5px 5px 5px;
	cursor: pointer;
	padding: 10px;
	width: 30%;
}

/* Är denna nödvändig? */
form .quiz_button{
	margin-top: 10%;
	margin-left: 20%;
	font-size: 3vh;
	background-color: rgb(76, 137, 251);
	color:white;
	border: none;
	border-radius: 5px 5px 5px;
	cursor: pointer;
	padding: 10px;
	width: 30%;
}

.correct_text{
	position: absolute;
	top: 30%;
	left: 70%;
	color: rgb(111, 200, 102);
	font-size: 5vh;
	cursor: none;
}

.wrong_text{
	position: absolute;
	top: 30%;
	left: 70%;
	color: rgb(207, 73, 73);
	font-size: 5vh;
	cursor: none;
}

.guess_text{
	position: absolute;
	top: 37.5%;
	left: 70.5%;
	color: rgb(207, 73, 73);
	font-size: 3vh;
	cursor: none;
}

.guess_text2{
	position: absolute;
	top: 42.5%;
	left: 70.5%;
	color: rgb(207, 73, 73);
	font-size: 3vh;
	cursor: none;
}

/* Är denna nödvändig? */
form .next{
	font-size: 3vh;
	background-color: rgb(76, 137, 251);
	color:white;
	border: none;
	border-radius: 5px 5px 5px;
	cursor: pointer;
	padding: 10px;
	width: 30%;
}


@media only screen and (min-width: 1500px) {

	.quiz_names form{
		position: relative;
		margin-left: 45%;
		top: -37.5vh;
		padding-top: 15px;
		cursor: pointer;
	}

	.quiz_names img{
		position: relative;
		margin-left: 18%;
	}

}
