<!DOCTYPE html>
<html>
	<head>
		<title>Welcome to Pluggy</title>
		<link rel="stylesheet" type="text/css" href="/pluggy.css">
	</head>
	<body>
		<header>
			<div class="header_left">
				<h1>WHAT'S THEIR FACE</h1>
			</div>
			<div class="header_right">
				<img src="https://i.imgur.com/5sHrGt4.png">
				<h2><%= data[:username] %></h2>
				<a href="/start">LOG OUT</a>
			</div>
		</header>
		<%= template %>
	</body>
</html>